body {
    font-family: Kanit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}

.container {
    width: 50vw;
    height: auto;
    text-align: center;
    background-color: rgb(255, 139, 159);
    border-radius: 10px;
    margin: 20px;
}

button {
    background-color: rgb(247, 181, 247);
    border-color: white;
    font-family: Kanit;
}

#taskList {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}

#taskList li {
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.done {
    text-decoration: line-through;
}

#altoList {
    background-color: blueviolet;
    border-radius: 10px;
}

#medioList {
    background-color: green;
    border-radius: 10px;
}

#bajoList {
    background-color: yellow;
    border-radius: 10px;
}